<% if object.errors.any? %>
  <div class="error_messages alert alert-block alert-error fade in">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
