<h2><i class="icon-user"></i> New Subscriber</h2>

<hr class="separator">
<%= link_to raw('<i class="icon-arrow-left"></i> Back'), list_subscribers_path(@list), class: 'btn' %>
<hr class="separator">

<%= render 'form' %>
