<h2><i class="icon-envelope"></i> New Campaign</h2>

<hr class="separator">
<%= link_to raw('<i class="icon-arrow-left"></i> Back'), campaigns_path, class: 'btn' %>
<hr class="separator">

<%= render 'form' %>
